body {
  font-family: Arial, sans-serif;
  background-image: url(../imagens/imagem-fundo.png);
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}

header {
  background-image: url(../imagens/imagem-fundo.png);

  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: solid 0;
  padding: 0;

}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #121212;
  text-decoration: none;
}

main {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: rgb(133, 131, 131);
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #0077b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005580;
}

a {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}
/* estilização que ocorre ao movimento do mouse sobre o link */
a:hover {
  text-decoration: underline;
  color: rgb(113, 102, 102);
}