body {
  font-family: Arial, sans-serif;
  background-color: #b91b1b;
  color: #FFFFFF;
  text-align: ;
  padding: 20px;
}

h1 {
  color: #FFFFFF;
  text-align: center;
}

form {
  background-color: #d16666;
  padding: 20px;
  border-radius: 10px;
}

label {
  color: #000000;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #FFFFFF;
  color: #0d0a0a;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #010101;
  color: #FFFFFF;
}